### Intellij's PhpStorm IDE ###
.idea

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Local environment variables
Resources/config/local.env

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Composer PHAR
/composer.phar

# Bundles shouldn't lock the dependencies
composer.lock

# Allow for local version of PHP Unit
phpunit.xml

# Public resources
Resources/public/